ion-title,ion-toolbar{
    background-color: #D40086;
    margin: 0;
}
ion-searchbar{
    background-color: white;
    border-radius: 6px;
    width: 80%;
    font-size: small;
}
ion-button{
   width: 100%;
   color: gray;
   margin: 0;
}